<div>
    <div>
        <h3>Item {{ item.currentIndex + 1}}</h3>
        <p><u>Task</u>: {{ item.task }}</p>
        <p><u>Due Date</u>: {{ dateToString() }}</p>
    </div>
    <div>
        <button class="dueButtonMargins" 
                [ngClass]="{ red: isUrgent() }"  
                (click)="setUrgent()">Urgent</button>
        <button class="dueButtonMargins" 
                [ngClass]="{ yellow: isDays() }"  
                (click)="setDays()">Days</button>
        <button class="dueButtonMargins" 
                [ngClass]="{ green: isWeeks() }"  
                (click)="setWeeks()">Weeks</button>
    </div>
    <div> 
        <button class="removeButtonMargins" (click)="remove()">Remove Task</button>
    </div>
    <hr class="todoItemLine">
</div>
